.App {
  text-align: center;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main-container {
  display: flex;
}

.App-link {
  color: #09d3ac;
}
